* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: rgb(253, 152, 0);
  --cor-secundaria: black;
  --cor-neutra:#fff;
}

.container {
  display:flex;
}


.background {
  width: 100%;
  height: 70px;
  background: var(--cor-principal);
}

.logo {
  background: var(--cor-secundaria);
  display:flex;
  align-items: center;
}

.logo a {
  width: 350px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: var(--cor-neutra);
  transition: all 0.4s;
}

.logo a:hover {
  font-size: 110%;
}

.menu {
  height: 70px;
  background: var(--cor-principal);
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a{
  color:black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 40px;
  padding: 10px;
  transition: all 0.5s;
}

.menu a:hover {
  color:var(--cor-neutra);
}

.container-imagens {
 display:flex;
 margin-top: 50px;
 flex-wrap: wrap;
 justify-content: center;
 height: 500px;
 width: 800px;
 margin-left: 20%;
}

.container-imagens img:hover {
  filter:brightness(1.4)
}

.container-imagens img {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 30%;
  transition: all 0.7s;
}

.final {
  background: var(--cor-secundaria);
  width: 100%;
  height: 80px;
  margin-top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 15px solid var(--cor-principal);
}

.final p {
  color:#fff;
}


@media (max-width:500px) {
  .logo {
    display: none;
  }
 
  .menu {
    display: none;
  }

  .background {
    display: none;
  }

  .container-imagens {
    display:flex;
    margin-top: 50px;
    flex-direction:row;
    width: 350px;
   }

   .container-imagens img {
    width: 350px;
    height: 350px;
    padding: 15px;
    border-radius: 30%;
  }

  .menu {
    height: 120px;
    width: 100%;
    padding-left: 50px;
    background: var(--cor-principal);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .menu a {
    font-size: 28px;
  }

  .final {
    background: var(--cor-secundaria);
    width: 100%;
    height: 80px;
    margin-top: 5200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .final p {
    color:#fff;
    font-size: 16px;
  }
  
  

  
  


 
}


